html, body {
    height: 100%;
}

label {
    font-size: 1.5em;
}

.movie-inputs span.glyphicon-star-empty, .movie-inputs span.glyphicon-star {
    font-size: 3.0em;
}

.movie-inputs {
    margin-top: 20px;
}


